.App {
  text-align: center;
}
.main-ul{list-style:none;padding:0;}
.main-li{list-style-type: none;}
.main-li p{text-align: justify;padding:0 20px;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
img{max-width: 100%;}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
